body{
    background-color: black;
    color: white !important;
    
}

h2{
    color: white;
}

#sidebar ul li.active > a{
    color: aquamarine !important;
}
.local{
    color:green
}
.form-inline{
    font-size: medium;
    
}
.control:focus{
 background-color: black;
 color:white;
 border: none;
 border-color: black !important;
  outline: none !important;
  
}
label{
    width:35%;
    padding-bottom: 15px;
}
.control{
    font-size: large;
    width:63% !important;
    padding:0px;
    background-color: black;
    border: none;
    resize: none;
}
textarea{
    overflow: visible!important;
    line-height: 1;
}


